/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");

/* Common Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Variables */
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --nav-height: 60px;
  --space-top: 30px;
}

/* Typography */
body {
  font-family: "Cairo", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-bg);
}

p {
  font-family: "Cairo", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

/* Links */
a {
  text-decoration: none;
  color: var(--text-color);
}

/* Lists */
ul {
  list-style: none;
}

/* Flex Container */
.flex {
  display: flex;
  align-items: center;
}

/* Container */
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

/* Navigation */
nav {
  background-color: #000000;
  box-shadow: 0 0 4px #bbd0e2;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

/* Main Navigation */
.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

/* Navigation Links */
.nav-links ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
  color: var(--text-color);
  font-family: "Cairo", sans-serif;
  font-size: larger;
}

.hover-link:hover {
  color: var(--main-color);
}

.hover-link:active {
  color: var(--text-color);
}

.nav-item.active {
  color: var(--main-color);
}

/* Search Bar */
.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid var(--main-color);
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: var(--text-color);
  color: black;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Main Content */
main {
  padding-block: 20px;
  margin-top: 80px;
}

/* Cards */
.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}
.main-nav > a {
  font-size: 18px;
}
.main-nav > a span {
  color: var(--main-color);
}
.main-nav > a:hover {
  color: var(--main-color);
}
.logo {
  font-size: 2rem !important;
  font-weight: 900;
}
.hover-link {
  margin: 0 20px;
}
.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  background-color: #f9fdff;
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}

footer.section {
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-color: var(--box-bg);
}

footer a:hover {
  color: var(--main-color);
}

footer a.logo {
  margin-top: -2.5rem;
  display: block;
}

footer a.logo:hover {
  color: var(--main-color);
}
.footer-menu {
  list-style-type: none;
}
.social-item ~ .social-item {
  margin-left: 20px;
}
.footer-menu a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
footer .con {
  margin-left: 50px;
  margin-right: 50px;
}
.footer-menu a:hover {
  transform: translateX(5px);
  cursor: pointer;
}
.it {
  width: 50%;
}

.it-1 {
  width: 25%;
}

.it-2 {
  width: 25%;
}

.devide {
  width: 95%;
  border: 0.5px solid var(--main-color);
  margin: auto auto;
}
.social-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-item {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--main-color);
}

.social-item:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.social-item ~ .social-item {
  margin-left: 20px;
}

.introduction {
  padding-top: 50px;
}
.copyright {
  padding: 10px;
  border-top: 1px solid var(--body-bg);
  background-color: var(--box-bg);
  text-align: center;
  font-weight: 500;
}

/* Go top top */
#top-up {
  font-size: 5.5rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 3.5rem;
  height: 6rem;
  color: #004993;
  color: var(--main-color);
  background: linear-gradient(0, 0, 0, 0.5rem);
}
#top-up:hover {
  color: #fff;
}
.flex {
  display: flex;
}
.cti {
  width: 40%;
}
.cty {
  width: 60%;
}
/* Responsive Styles */
@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 10px;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 10px;
  }

  .hover-link {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .news-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .cards-container {
    justify-content: center;
  }

  footer {
    text-align: center;
  }

  .introduction {
    padding-top: 20px;
  }
}
